[user]
	name = Jaeden Amero
	email = jaeden@patater.com
[push]
	default = upstream
[color]
	ui = auto
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[core]
	excludesfile = /home/jaeden/.gitignore_global
[alias]
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
