[user]
	name = Jaeden Amero
	email = jaeden@patater.com
[push]
	default = upstream
[color]
	ui = auto
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[core]
	excludesfile = /home/jaeden/.gitignore_global
	editor = vim
	abbrev = 12
[alias]
	lol = log --decorate --pretty=oneline --abbrev-commit
	lool = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	lop = log -p --decorate
	lof = log -p --follow --decorate
	g = grep --break --heading --line-number
	gi = grep --break --heading --line-number --ignore-case
	vee = log --decorate --cherry-mark --oneline --graph --boundary
[merge]
	conflictstyle = diff3
[sendemail]
	name = Jaeden Amero
	chainreplyto = false
[pretty]
	fixes = Fixes: %h (\"%s\")
