[user]
	name = Jaeden Amero
	email = jaeden@patater.com
[push]
	default = upstream
[color]
	ui = auto
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[core]
	excludesfile = /home/jaeden/.gitignore_global
	editor = vim
[alias]
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	g = grep --break --heading --line-number
[merge]
	conflictstyle = diff3
[sendemail]
	name = Jaeden Amero
	chainreplyto = false
